/* CSS declarations go here */
*{padding:0px;margin:0px;word-break:break-all!important;box-sizing:border-box!important;font-size:14px;font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;}
body{background-color: #FFF;}
#head{padding:10px;background-color: #b0c4de!important;color:#000!important;}
#h_title{font-size:24px;}
#wrap{padding:5px;margin:0 auto;max-width:640px;color:#FFF;}
#postmes{width:220px;}
#postname{width:220px;}
#postvoice{width:320px;}
#head{background-color: #000;color:#FFF;}
.rec_wrap{margin:5px;padding:5px 10px;color:#000;margin-bottom:10px;}
.rec_date{float:left;font-size:10px;width:100px;}
.rec_name{float:left;font-size:14px;width:120px;}
.rec_voice{float:left;font-size: 12px;width: 100px;}
.rec_mes{clear:left;font-size: 20px;}
#control{clear:left;}
#colorbox{display:inline-block;vertical-align: middle;width:14px;height:14px;}